<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head" ,{stylesheet:"detail", title:"Detalle de Producto"}) %>

  <body>
    <!--Header-->
    <%- include("../partials/header") %>

      <main>
        <section class="main">
          <section class="featured-products">
            <div class="products">
              <article>
                <img class="product-image" src="/images/products/<%= plato.img %>" alt="product 1">
                <section class="purchase-product">
                  <section class="recipes-description">
                    <p class="product-name">
                      <%= plato.title %>
                    </p>
                    <p class="product-description">
                      <%= plato.description %>
                    </p>
                    <p class="product-description">
                      <%= plato.ingredients %>
                    </p>
                    <p class="product-price">
                      $ <%= plato.price %> .-
                    </p>
                  </section>
                  <section class="buttons-product">
                    <% if (locals.userLogged && locals.userLogged.roleId=="Admin" ) { %>
                      <div class="detail-button">
                        <a href="/products/edit/<%= plato.id %>">
                          <p>Editar producto</p>
                        </a>
                      </div>
                      <% } %>
                        <div class="detail-button">
                          <a href="/products/shop">
                            <p>Agregar al carrito</p>
                          </a>
                        </div>
                        <% if (locals.userLogged && locals.userLogged.roleId=="Admin" ) { %>
                          <div class="detail-button">
                            <form action="/products/delete/<%= plato.id %>?_method=DELETE" method="POST" class="delete">
                              <button type="submit">Eliminar</button>
                              <% } %>

                            </form>
                          </div>
                  </section>
                </section>
              </article>
            </div>
          </section>
      </main>
      <!--Footer-->
      <%- include("../partials/footer") %>
        <!--Footer-->

  </body>

</html>