<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head") %>

  <body>
    <!--Header-->
    <%- include("../partials/header") %>

      <main>
        <section class="main">
          <section class="featured-products">
            <div class="products">
              <article>
                <img class="product-image" src="/images/<%= plato.img %>" alt="product 1">
                <section class="recipes-description">
                  <p class="product-name">
                    <%= plato.titulo %>
                  </p>
                  <p class="product-description">
                    <%= plato.descripcion %>
                  </p>
                  <p class="product-description">
                    <%= plato.precio %>
                  </p>
                </section>
              <section class="buttons-product">
                <div class="edit-product">
                  <a href="/products/edit">
                    <p>Editar producto</p>
                  </a>
                </div>
                <div class="add-to-cart">
                  <a href="/products/shop">
                    <p>Agregar al carrito</p>
                  </a>
                </div>
              </section>
              </article>
            </div>
          </section>
      </main>
      <!--Footer-->
      <%- include("../partials/footer") %>
        <!--Footer-->

  </body>

</html>