<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head" ,{stylesheet:"products",  title:"Productos"}) %>

    <body>
        <!--Header-->
        <%- include("../partials/header") %>

            <main>
                <section class="main">
                    <section class="all-products">
                        <h2 class="recipes">Todos los platos</h2>
                        <div class="products-list">
                            <% products.forEach(function(plato){ %>
                                <article>
                                    <section class="product-image"><img src="/images/<%= plato.img %>" alt="product 1">
                                    </section>
                                    <section class="recipes-description">
                                        <p class="product-name">
                                            <%= plato.title %>
                                        </p>
                                        <p class="product-description">
                                            <%= plato.description %>
                                        </p>
                                        <div class="see-more">
                                            <a href="/products/detail/<%= plato.id %>">
                                                <p>Ver detalle</p>
                                            </a>
                                        </div>
                                    </section>
                                </article>
                                <% }) %>
                        </div>
                    </section>
            </main>
            <!--Footer-->
            <%- include("../partials/footer") %>
                <!--Footer-->

    </body>

</html>