<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("./partials/head") %>

    <body>
        <!--Header-->
        <%- include("./partials/header") %>

            <main>
                <section class="main">
                    <article class="box-experience">
                        <i class="fas fa-star-of-life"></i>
                        <h4>LA EXPERIENCIA</h4>
                        <p>Ba Bula es un experimento único donde ocurre un acercamiento de la cultura Rusa hacia el
                            paladar</p>
                    </article>


                    <section class="featured-products">
                        <h2 class="recipes">Platos nativos del día</h2>
                        <div class="products">
                            <% menuDelDia.forEach(function(plato){ %>
                                <article>
                                    <img class="product-image" src="/images/<%= plato.img %>" alt="product 1">
                                    <section class="recipes-description">
                                        <p class="product-name">
                                            <%= plato.titulo %>
                                        </p>
                                        <p class="product-description">
                                            <%= plato.descripcion %>
                                        </p>
                                        <div class="see-more">
                                            <a href="/products/detail/<%= plato.id %>">
                                                <p>Ver más</p>
                                            </a>
                                        </div>
                                    </section>
                                </article>
                                <% }) %>
                        </div>
                    </section>
                    <section class="access-menu">
                        <div class="clean">
                            <a href="/product">
                                <p>Acceder al menú</p>
                            </a>
                        </div>
                    </section>
            </main>
            <!--Footer-->
            <%- include("./partials/footer") %>
                <!--Footer-->

    </body>

</html>