<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head" ,{stylesheet:"styles", title:"Formulario creación de producto"}) %>

	<body>
		<!--Header-->
		<%- include("../partials/header") %>
			<!-- /Header -->
			<main>
				<section class="product-creator">
					<div class="title">
						<h2 class="products-title">Registrarse</h2>
					</div>
					<ul class="fails">
					</ul>
					<div class="formulario">
						<form action="/user/register" method="POST" enctype="multipart/form-data" class="form">
							<div class="row-product-detail">
								<div class="col-12 col-md-6">
									<label class="form-label">Nombre</label>
									<input type="text" id="firstName" name="firstName" class="form-notification <%=locals.errors &&
										errors.firstName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.firstName : null %>">
									<% if (locals.errors && errors.firstName) { %>
										<div class="text-danger">
											<%= errors.firstName.msg %>
										</div>
										<% } %>
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label">Apellido</label>
									<input type="text" id="lastName" name="lastName" class="form-notification <%=locals.errors &&
										errors.lastName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.lastName : null %>">
									<% if (locals.errors && errors.lastName) { %>
										<div class="text-danger">
											<%= errors.lastName.msg %>
										</div>
										<% } %>
								</div>
 
								<div class="col-12">
									<label class="form-label">Correo electronico</label>
									<input type="text" id="email" name="email" class="form-notification <%=locals.errors &&
										errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>">
									<% if (locals.errors && errors.email) { %>
										<div class="text-danger">
											<%= errors.email.msg %>
										</div>
										<% } %>
											<div class="col-12 col-md-6">
												<label class="form-label">Password</label>
												<input type="password" id="password" name="password" class="form-notification
														<%=locals.errors && errors.password ? 'is-invalid' : null %>">
												<% if (locals.errors && errors.password) { %>
													<div class="text-danger">
														<%= errors.password.msg %>
													</div>
													<% } %>
											</div>
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label">Categoría</label>
									<select name="roleId" id="category"
										class="form-notification <%= locals.errors && errors.roleId ? 'is-invalid' : null %>">
										<option value="">Tipo</option>
										<% let roleId=['Admin', 'User' ]; %>
											<% for (const oneRoleId of roleId) { %>
												<option value="<%= oneRoleId %>" <%=locals.oldData &&
													(oneRoleId===oldData.roleId) ? 'selected' : null %>
													> <%= oneRoleId %>
												</option>
												<% } %>
									</select>
									<% if (locals.errors && errors.roleId) { %>
										<div class="text-danger">
											<%= errors.roleId.msg%>
										</div>
										<% } %>
								</div>

								<div class="col-12 col-md-6">
									<label class="form-label">Imagen de perfil:</label>
									<input type="file" id="avatar" name="avatar" class="form-notification <%=locals.errors &&
																	errors.avatar ? 'is-invalid' : null %>">
									<% if (locals.errors && errors.avatar) { %>
										<div class="text-danger">
											<%= errors.avatar.msg %>
										</div>
										<% } %>
								</div>
								<div class="sumbit-container">
									<button type="submit" class="btn btn-primary">
										<p>Registrarse</p>
									</button>
								</div>
							</div>
						</form>
					</div>
				</section>
			</main>
			
			<script src="/js/userRegister.js"></script>
			<!--Footer-->
			<%- include("../partials/footer") %>
				<!--Footer-->
	</body>

</html>