<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include("../partials/head" , {stylesheet:"styles", title:"Mi perfil" }) %>
    <link rel="stylesheet" href="/css/profile.css">

    <body>
        <!--Header-->
        <%- include("../partials/header") %>
            <!-- /Header -->

            <!-- Container -->
            <main>
                <section class="main">
                    <section class="container" style="margin-top: 40px;">
                        <section class="image-profile">
                            <img src="/images/users/<%= user.avatar %> ">
                        </section>
                        <section class="user-description">
                            <div class="user-flex">
                                <h2>¡Hola, <%= user.firstName %>!
                                </h2>
                                <h4>Nombre: <%= user.firstName %>
                                </h4>
                                <h4>Apellido: <%= user.lastName %>
                                </h4>
                                <h4>Correo electronico: <%= user.email %>
                                </h4>
                                <% if (user.roleId && user.roleId===1) { %>
                                    <h4>Tipo de usuario: Administrador</h4>
                                    <% } %>
                            </div>
                        </section>
                    </section>
                    <!-- //Container -->
                </section>
            </main>
            <!--Footer-->
            <%- include("../partials/footer") %>
                <!--Footer-->
    </body>

</html>